AI_VIDEO_GEN_TELEGRAM_BOT_TOKEN=replace_me
AI_VIDEO_GEN_ALLOWED_CHAT_IDS=1702319284
AI_VIDEO_GEN_DEFAULT_CHAT_ID=1702319284
AI_VIDEO_GEN_TELEGRAM_PARSE_MODE=HTML
AI_VIDEO_GEN_SEND_RETRIES=3
AI_VIDEO_GEN_LOOP_BACKOFF_SECONDS=10
